PROBLEM 1.

In [ ]:
import sqlite3

In [ ]:
!pip install faker

Collecting faker
  Downloading Faker-26.0.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)
Downloading Faker-26.0.0-py3-none-any.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 21.1 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-26.0.0

In [ ]:
import random
from faker import Faker
import datetime

# Initialize Faker
fake = Faker()

# Connect to SQLite database
conn = sqlite3.connect('ecommerce.db')
cursor = conn.cursor()

In [ ]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS Product (
    ProductID INTEGER PRIMARY KEY,
    Name TEXT,
    Category TEXT,
    Description TEXT,
    Discontinued BOOLEAN
)
''')

In [ ]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS Variants (
    VariantID INTEGER PRIMARY KEY,
    ProductID INTEGER,
    Name TEXT,
    Price REAL,
    Stock INTEGER,
    Discontinued BOOLEAN,
    FOREIGN KEY(ProductID) REFERENCES Product(ProductID)
)
''')

In [ ]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS Customer (
    CustomerID INTEGER PRIMARY KEY,
    Name TEXT,
    Email TEXT,
    Phone TEXT,
    Address TEXT,
    DateOfBirth DATE
)
''')

In [ ]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS `Order` (
    OrderID INTEGER PRIMARY KEY,
    CustomerID INTEGER,
    OrderDate DATE,
    TotalAmount REAL,
    FOREIGN KEY(CustomerID) REFERENCES Customer(CustomerID)
)
''')

In [ ]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS OrderItem (
    OrderItemID INTEGER PRIMARY KEY,
    OrderID INTEGER,
    VariantID INTEGER,
    Quantity INTEGER,
    PriceAtOrderTime REAL,
    FOREIGN KEY(OrderID) REFERENCES `Order`(OrderID),
    FOREIGN KEY(VariantID) REFERENCES Variant(VariantID)
)
''')

In [ ]:
cursor.execute('''
INSERT INTO Product (ProductID, Name, Category, Description, Discontinued) VALUES
(1, 'Laptop', 'Electronics', 'High-performance laptop', 0),
(2, 'T-shirt', 'Clothing', 'Cotton T-shirt', 0),
(3, 'Smartphone', 'Electronics', 'Latest model smartphone', 0),
(4, 'Jeans', 'Clothing', 'Blue denim jeans', 0),
(5, 'Rice', 'Groceries', 'Premium quality rice', 0),
(6, 'Washing Machine', 'Electronics', 'Front-load washing machine', 0),
(7, 'Headphones', 'Electronics', 'Noise-cancelling headphones', 0),
(8, 'Jacket', 'Clothing', 'Winter jacket', 0),
(9, 'Sweater', 'Clothing', 'Wool sweater', 0),
(10, 'Pasta', 'Groceries', 'Italian pasta', 0),
(11, 'Olive Oil', 'Groceries', 'Extra virgin olive oil', 0),
(12, 'Monitor', 'Electronics', '4K ultra HD monitor', 0),
(13, 'Blender', 'Electronics', 'High-speed blender', 0),
(14, 'Coffee Maker', 'Electronics', 'Automatic coffee maker', 0),
(15, 'Salt', 'Groceries', 'Refined table salt', 0)
''')

# Commit the changes
conn.commit()

# Verify the data insertion
cursor.execute('SELECT * FROM Product')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Laptop', 'Electronics', 'High-performance laptop', 0)
(2, 'T-shirt', 'Clothing', 'Cotton T-shirt', 0)
(3, 'Smartphone', 'Electronics', 'Latest model smartphone', 0)
(4, 'Jeans', 'Clothing', 'Blue denim jeans', 0)
(5, 'Rice', 'Groceries', 'Premium quality rice', 0)
(6, 'Washing Machine', 'Electronics', 'Front-load washing machine', 0)
(7, 'Headphones', 'Electronics', 'Noise-cancelling headphones', 0)
(8, 'Jacket', 'Clothing', 'Winter jacket', 0)
(9, 'Sweater', 'Clothing', 'Wool sweater', 0)
(10, 'Pasta', 'Groceries', 'Italian pasta', 0)
(11, 'Olive Oil', 'Groceries', 'Extra virgin olive oil', 0)
(12, 'Monitor', 'Electronics', '4K ultra HD monitor', 0)
(13, 'Blender', 'Electronics', 'High-speed blender', 0)
(14, 'Coffee Maker', 'Electronics', 'Automatic coffee maker', 0)
(15, 'Salt', 'Groceries', 'Refined table salt', 0)

In [ ]:
clothing_colors = ['Red', 'Blue', 'Green', 'Black', 'White', 'Yellow', 'Purple', 'Orange']
clothing_sizes = ['Small', 'Medium', 'Large', 'X-Large', 'XX-Large']

# Define discontinued status
discontinued_status = [0, 1]  # 0 for not discontinued, 1 for discontinued

# Generate variants data
variants = []
for product_id in range(1, 16):  # Assuming product IDs from 1 to 15
    if product_id in [2, 4, 8, 9]:  # Clothing items
        for _ in range(random.randint(1, 3)):  # Each clothing item can have 1 to 3 variants
            name = f"{random.choice(clothing_colors)} {random.choice(clothing_sizes)}"
            price = round(random.uniform(10.0, 80.0), 2)  # Random price between 10 and 80
            stock = random.randint(0, 50)  # Random stock between 0 and 50
            discontinued = random.choice(discontinued_status)  # Randomly choose discontinued status
            variants.append((
                product_id,        # ProductID
                name,             # Variant Name
                price,            # Price
                stock,            # Stock
                discontinued      # Discontinued
            ))
    elif product_id in [1, 3, 6, 7, 12, 13, 14]:  # Electronics items
        for _ in range(random.randint(1, 2)):  # Each electronics item can have 1 to 2 variants
            name = f"{random.choice(['Standard', 'Deluxe'])} {random.choice(['Version', 'Edition'])}"
            price = round(random.uniform(50.0, 500.0), 2)  # Random price between 50 and 500
            stock = random.randint(0, 30)  # Random stock between 0 and 30
            discontinued = random.choice(discontinued_status)  # Randomly choose discontinued status
            variants.append((
                product_id,        # ProductID
                name,             # Variant Name
                price,            # Price
                stock,            # Stock
                discontinued      # Discontinued
            ))
    elif product_id in [5, 10, 11, 15]:  # Groceries items
        for _ in range(random.randint(1, 2)):  # Each groceries item can have 1 to 2 variants
            name = f"{random.choice(['Pack', 'Bulk'])} {random.choice(['Size', 'Type'])}"
            price = round(random.uniform(5.0, 20.0), 2)  # Random price between 5 and 20
            stock = random.randint(0, 100)  # Random stock between 0 and 100
            discontinued = random.choice(discontinued_status)  # Randomly choose discontinued status
            variants.append((
                product_id,        # ProductID
                name,             # Variant Name
                price,            # Price
                stock,            # Stock
                discontinued      # Discontinued
            ))

# Insert data into Variant table
cursor.executemany('''
INSERT INTO Variants (ProductID, Name, Price, Stock, Discontinued) VALUES (?, ?, ?, ?, ?)
''', variants)

# Commit the changes
conn.commit()

# Verify the data insertion
cursor.execute('SELECT * FROM Variants')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 1, 'Standard Edition', 70.55, 12, 0)
(2, 2, 'Red Medium', 59.07, 27, 1)
(3, 3, 'Standard Edition', 345.82, 29, 0)
(4, 4, 'White Large', 39.08, 15, 1)
(5, 5, 'Pack Type', 8.96, 19, 1)
(6, 5, 'Pack Type', 11.43, 26, 0)
(7, 6, 'Standard Version', 191.3, 15, 1)
(8, 7, 'Deluxe Edition', 134.43, 19, 0)
(9, 7, 'Standard Edition', 384.29, 14, 1)
(10, 8, 'Purple Small', 29.09, 48, 1)
(11, 8, 'Blue Medium', 63.41, 49, 1)
(12, 9, 'Black Small', 71.96, 9, 0)
(13, 9, 'Yellow Small', 33.86, 37, 0)
(14, 9, 'Blue X-Large', 69.88, 49, 1)
(15, 10, 'Bulk Size', 14.0, 36, 1)
(16, 11, 'Pack Type', 13.23, 13, 1)
(17, 11, 'Bulk Type', 14.19, 31, 0)
(18, 12, 'Standard Edition', 492.06, 20, 1)
(19, 13, 'Standard Version', 382.63, 17, 0)
(20, 13, 'Deluxe Edition', 192.38, 8, 0)
(21, 14, 'Standard Edition', 486.03, 17, 1)
(22, 15, 'Pack Type', 16.73, 77, 0)
(23, 15, 'Bulk Size', 15.0, 30, 1)
(24, 1, 'Standard Edition', 447.34, 4, 0)
(25, 1, 'Deluxe Version', 379.66, 4, 0)
(26, 2, 'Purple XX-Large', 36.68, 36, 1)
(27, 2, 'White X-Large', 51.63, 18, 0)
(28, 3, 'Deluxe Version', 434.02, 13, 1)
(29, 3, 'Standard Edition', 276.58, 20, 1)
(30, 4, 'Black Large', 46.58, 21, 0)
(31, 4, 'Black Small', 37.38, 47, 0)
(32, 4, 'Red Small', 37.6, 33, 1)
(33, 5, 'Bulk Type', 5.92, 22, 1)
(34, 5, 'Bulk Size', 12.84, 39, 0)
(35, 6, 'Standard Edition', 259.97, 25, 1)
(36, 7, 'Standard Version', 285.89, 9, 0)
(37, 8, 'Green XX-Large', 63.36, 1, 1)
(38, 8, 'Blue Medium', 14.98, 40, 1)
(39, 8, 'Green Small', 72.32, 25, 1)
(40, 9, 'White X-Large', 57.08, 37, 1)
(41, 9, 'Purple X-Large', 14.68, 17, 1)
(42, 9, 'Green Large', 73.42, 42, 1)
(43, 10, 'Bulk Type', 15.83, 26, 1)
(44, 11, 'Pack Size', 7.15, 92, 0)
(45, 12, 'Standard Edition', 192.2, 0, 0)
(46, 12, 'Standard Version', 220.54, 20, 0)
(47, 13, 'Deluxe Version', 450.66, 3, 0)
(48, 14, 'Standard Version', 287.4, 26, 0)
(49, 15, 'Bulk Type', 6.11, 70, 1)
(50, 15, 'Bulk Size', 16.8, 14, 0)

In [ ]:
import datetime
customers = []
for _ in range(20):
    customers.append((
        fake.name(),               # Name
        fake.email(),              # Email
        fake.phone_number(),       # Phone
        fake.address(),            # Address
        fake.date_of_birth(minimum_age=18, maximum_age=80)  # DateOfBirth (no .date())
    ))

# Insert sample data into Customer table
cursor.executemany('INSERT INTO Customer (Name, Email, Phone, Address, DateOfBirth) VALUES (?, ?, ?, ?, ?)', customers)
# Commit and close the connection

In [ ]:
cursor.execute('SELECT * FROM Customer')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Breanna Malone', 'lorikelly@example.org', '259-986-1861', '90119 Eric Road\nMarktown, CT 00888', '1949-10-01')
(2, 'Christine Tyler', 'urichardson@example.org', '(959)372-4903', 'Unit 2571 Box 2226\nDPO AP 04829', '1967-05-23')
(3, 'Shelly Green', 'shari36@example.com', '8313563167', '2422 Anita Center\nPaulaton, WY 99560', '1972-09-03')
(4, 'Ryan Harris', 'bryanjohn@example.com', '001-225-496-2176x17100', '872 Lyons Fords Apt. 296\nBradton, MS 57208', '1999-05-09')
(5, 'Wendy York', 'maynardchristopher@example.net', '832.499.6421x519', 'USS Johnson\nFPO AA 79969', '1968-11-10')
(6, 'David Wells', 'john45@example.org', '2418848524', '64749 King Estates Apt. 448\nJillianside, FL 49738', '1966-08-22')
(7, 'Trevor Hernandez', 'vwright@example.com', '654-415-8414x07189', '26161 Kennedy Summit\nPatrickburgh, MP 42297', '1962-06-27')
(8, 'Jessica Richards', 'naustin@example.org', '744-882-2228x3041', '37806 Vargas Points\nNorth Scottfurt, NM 21989', '1953-06-26')
(9, 'Nicole Harper', 'solisjennifer@example.org', '685-656-2811', '4610 Cody Motorway\nAndreamouth, IA 18751', '1984-07-29')
(10, 'Janice Avila', 'rcase@example.com', '(241)343-3952', '3705 Jodi Skyway Suite 367\nBakerfurt, MH 23191', '1963-07-31')
(11, 'John Kennedy', 'pvaldez@example.net', '543-741-0779x0226', '93067 Joshua Vista Suite 834\nPort Cheyenne, FM 75020', '1961-12-11')
(12, 'Shelby Johnson', 'blackmichael@example.com', '736.856.6277x16821', '666 Murphy Park\nPort James, MA 65794', '1949-02-20')
(13, 'Thomas Foster', 'billyjackson@example.org', '(923)931-9205', '18447 Billy Course\nCombsfort, ME 73490', '1973-01-29')
(14, 'Christina Walker', 'glovertraci@example.org', '213.590.7129', '0255 Rebecca Trail Suite 558\nLake Tina, MN 10465', '1982-05-17')
(15, 'Kenneth Miller', 'jessicamorrison@example.com', '698-288-1625x1952', '79399 Bradley Pine\nPort Samanthaborough, NY 85479', '1944-01-05')
(16, 'Randall Robinson', 'smithkathryn@example.com', '001-676-303-3534x979', '733 Heather Parks Apt. 145\nBrianfurt, IA 73676', '1986-04-11')
(17, 'Brandon Holland', 'rnelson@example.net', '(816)586-4974x12141', '200 Mark Inlet Suite 898\nNorth Jeremy, KY 65186', '1963-08-04')
(18, 'Samantha Kent', 'wendy99@example.net', '(849)622-2134', '7423 Ann Extension Suite 735\nMasonfort, IA 21143', '1994-03-01')
(19, 'David Morris', 'tony40@example.org', '8253573527', '9911 Turner Isle\nNew Andrea, NY 41446', '1946-10-11')
(20, 'Sandra Calderon', 'paulsmith@example.net', '514-291-9961x845', '22679 Troy Crescent\nDavisberg, ME 82075', '1996-08-19')

In [ ]:
from datetime import datetime, timedelta
import random
def random_date():
    start_date = datetime.now() - timedelta(days=730)  # 2 years ago
    end_date = datetime.now()
    return start_date + (end_date - start_date) * random.random()

# Insert 10 rows into the Order table
for order_id in range(1, 21):
    customer_id = random.randint(1, 20)  # Assuming we have 10 customers
    order_date = random_date().date()    # Random date within the last 2 years
    total_amount = round(random.uniform(20.0, 500.0), 2)  # Random total amount between 20 and 500

    cursor.execute('''
    INSERT INTO `Order` (OrderID, CustomerID, OrderDate, TotalAmount)
    VALUES (?, ?, ?, ?)
    ''', (order_id, customer_id, order_date, total_amount))

In [ ]:
insert_query = '''
INSERT INTO "Order" (OrderID, CustomerID, OrderDate, TotalAmount) VALUES
(21, 2, '2024-01-15', 210.00),
(22, 3, '2024-02-20', 345.67),
(23, 4, '2024-03-05', 275.43),
(24, 5, '2024-01-25', 128.99),
(25, 6, '2024-02-28', 189.49),
(26, 7, '2024-03-10', 312.76),
(27, 8, '2024-03-15', 298.52),
(28, 9, '2024-02-08', 432.61),
(29, 10, '2024-01-12', 250.88),
(30, 1, '2024-03-22', 175.33)
'''

# Execute the insert query
cursor.executescript(insert_query)

In [ ]:
cursor.execute('SELECT * FROM `Order`')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 16, '2022-12-31', 402.46)
(2, 17, '2023-09-14', 94.39)
(3, 1, '2023-08-27', 125.89)
(4, 17, '2023-03-09', 319.81)
(5, 14, '2022-11-30', 466.27)
(6, 6, '2022-11-20', 224.37)
(7, 13, '2024-03-14', 71.1)
(8, 15, '2023-04-14', 333.42)
(9, 13, '2024-04-02', 495.86)
(10, 5, '2023-05-13', 319.81)
(11, 9, '2023-04-10', 268.36)
(12, 12, '2023-03-16', 170.37)
(13, 10, '2024-07-06', 196.58)
(14, 8, '2023-03-21', 271.11)
(15, 9, '2023-01-30', 350.54)
(16, 16, '2023-05-17', 87.72)
(17, 16, '2023-03-28', 478.32)
(18, 3, '2023-09-17', 385.27)
(19, 6, '2023-01-22', 354.72)
(20, 8, '2023-03-26', 490.03)
(21, 2, '2024-01-15', 210.0)
(22, 3, '2024-02-20', 345.67)
(23, 4, '2024-03-05', 275.43)
(24, 5, '2024-01-25', 128.99)
(25, 6, '2024-02-28', 189.49)
(26, 7, '2024-03-10', 312.76)
(27, 8, '2024-03-15', 298.52)
(28, 9, '2024-02-08', 432.61)
(29, 10, '2024-01-12', 250.88)
(30, 1, '2024-03-22', 175.33)

In [ ]:
for order_item_id in range(1, 31):
    order_id = random.randint(1, 30)  # Assuming you have orders with IDs ranging from 1 to 10
    variant_id = random.randint(1, 50)  # Assuming you have variants with IDs ranging from 1 to 10
    quantity = random.randint(1, 5)  # Random quantity between 1 and 5
    price_at_order_time = round(random.uniform(5.0, 100.0), 2)  # Random price between 5 and 100

    cursor.execute('''
    INSERT INTO OrderItem (OrderItemID, OrderID, VariantID, Quantity, PriceAtOrderTime)
    VALUES (?, ?, ?, ?, ?)
    ''', (order_item_id, order_id, variant_id, quantity, price_at_order_time))

In [ ]:
cursor.execute('SELECT * FROM OrderItem')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 18, 15, 3, 29.14)
(2, 2, 44, 2, 69.74)
(3, 20, 18, 2, 36.42)
(4, 22, 27, 5, 81.53)
(5, 7, 47, 5, 84.03)
(6, 26, 35, 5, 36.78)
(7, 15, 46, 3, 23.37)
(8, 10, 9, 2, 82.43)
(9, 23, 37, 2, 42.89)
(10, 5, 23, 1, 71.34)
(11, 12, 46, 2, 18.43)
(12, 14, 40, 2, 15.26)
(13, 14, 23, 5, 58.14)
(14, 20, 13, 3, 52.2)
(15, 8, 28, 2, 67.44)
(16, 19, 26, 3, 55.94)
(17, 27, 38, 1, 78.63)
(18, 22, 24, 1, 83.36)
(19, 27, 28, 1, 77.5)
(20, 4, 39, 5, 38.77)
(21, 9, 44, 3, 20.53)
(22, 24, 37, 3, 47.09)
(23, 21, 12, 1, 10.48)
(24, 27, 42, 2, 51.02)
(25, 3, 17, 3, 59.06)
(26, 2, 11, 5, 66.75)
(27, 15, 33, 3, 72.37)
(28, 20, 1, 4, 62.61)
(29, 14, 36, 1, 46.48)
(30, 22, 16, 3, 53.56)

PROBLEM 2

Retrieve the top 5 customers who have made the highest average order amounts in the last 6 months. The average order amount should be calculated for each customer, and the result should be sorted in descending order.

In [ ]:
query = '''
SELECT
    c.CustomerID,
    c.Name,
    AVG(o.TotalAmount) AS AvgOrderAmount
FROM
    `Order` o
JOIN
    Customer c ON o.CustomerID = c.CustomerID
WHERE
    o.OrderDate >= DATE('now', '-6 months')
GROUP BY
    c.CustomerID, c.Name
ORDER BY
    AvgOrderAmount DESC
LIMIT 5;
'''

# Execute the query
cursor.execute(query)

# Fetch all results
results = cursor.fetchall()

In [ ]:
results

[(9, 'Nicole Harper', 432.61),
 (3, 'Shelly Green', 345.67),
 (7, 'Trevor Hernandez', 312.76),
 (8, 'Jessica Richards', 298.52),
 (13, 'Thomas Foster', 283.48)]

Retrieve the list of customer whose order value is lower this year as compared to previous year

In [ ]:
query = '''
SELECT
    c.CustomerID,
    c.Name,
    COALESCE(SUM(CASE WHEN strftime('%Y', o.OrderDate) = strftime('%Y', 'now') THEN o.TotalAmount ELSE 0 END), 0) AS CurrentYearTotal,
    COALESCE(SUM(CASE WHEN strftime('%Y', o.OrderDate) = strftime('%Y', 'now', '-1 year') THEN o.TotalAmount ELSE 0 END), 0) AS PreviousYearTotal
FROM
    `Order` o
JOIN
    Customer c ON o.CustomerID = c.CustomerID
GROUP BY
    c.CustomerID, c.Name
HAVING
    CurrentYearTotal < PreviousYearTotal;
'''

# Execute the query
cursor.execute(query)

# Fetch all results
results = cursor.fetchall()
results

[(3, 'Shelly Green', 345.67, 385.27),
 (5, 'Wendy York', 128.99, 319.81),
 (6, 'David Wells', 189.49, 354.72),
 (8, 'Jessica Richards', 298.52, 761.14),
 (9, 'Nicole Harper', 432.61, 618.9000000000001),
 (12, 'Shelby Johnson', 0, 170.37),
 (15, 'Kenneth Miller', 0, 333.42),
 (16, 'Randall Robinson', 0, 566.04),
 (17, 'Brandon Holland', 0, 414.2)]

Create a table showing cumulative purchase by a particular customer. Show the breakup of cumulative purchases by product category

In [ ]:
customer_id = 2  # Replace with the desired customer ID

# SQL query for cumulative purchases by product category
query = '''
SELECT
    p.Category AS ProductCategory,
    SUM(oi.Quantity * oi.PriceAtOrderTime) AS CumulativePurchase
FROM
    "Order" o
JOIN
    OrderItem oi ON o.OrderID = oi.OrderID
JOIN
    Variants v ON oi.VariantID = v.VariantID
JOIN
    Product p ON v.ProductID = p.ProductID
WHERE
    o.CustomerID = ?
GROUP BY
    p.Category
ORDER BY
    CumulativePurchase DESC;
'''

cursor.execute(query, (customer_id,))

# Fetch all results
results = cursor.fetchall()

results

[('Clothing', 10.48)]

Create a table showing cumulative purchase by a particular customer. Show the breakup of cumulative purchases by product category

In [ ]:
query = '''
SELECT
    c.CustomerID,
    c.Name AS CustomerName,
    p.Category AS ProductCategory,
    SUM(oi.Quantity * oi.PriceAtOrderTime) AS CumulativePurchase
FROM
    Customer c
JOIN
    `Order` o ON c.CustomerID = o.CustomerID
JOIN
    OrderItem oi ON o.OrderID = oi.OrderID
JOIN
    Variants v ON oi.VariantID = v.VariantID
JOIN
    Product p ON v.ProductID = p.ProductID
GROUP BY
    c.CustomerID, c.Name, p.Category
ORDER BY
    c.CustomerID, p.Category;
'''

cursor.execute(query)
results = cursor.fetchall()

# Print results
print("Cumulative Purchase by Customer and Product Category:")
for row in results:
    print(f"Customer ID: {row[0]}, Customer Name: {row[1]}, Category: {row[2]}, Cumulative Purchase: {row[3]}")

Cumulative Purchase by Customer and Product Category:
Customer ID: 1, Customer Name: Breanna Malone, Category: Groceries, Cumulative Purchase: 177.18
Customer ID: 2, Customer Name: Christine Tyler, Category: Clothing, Cumulative Purchase: 10.48
Customer ID: 3, Customer Name: Shelly Green, Category: Clothing, Cumulative Purchase: 407.65
Customer ID: 3, Customer Name: Shelly Green, Category: Electronics, Cumulative Purchase: 83.36
Customer ID: 3, Customer Name: Shelly Green, Category: Groceries, Cumulative Purchase: 248.10000000000002
Customer ID: 4, Customer Name: Ryan Harris, Category: Clothing, Cumulative Purchase: 85.78
Customer ID: 5, Customer Name: Wendy York, Category: Clothing, Cumulative Purchase: 141.27
Customer ID: 5, Customer Name: Wendy York, Category: Electronics, Cumulative Purchase: 164.86
Customer ID: 6, Customer Name: David Wells, Category: Clothing, Cumulative Purchase: 167.82
Customer ID: 7, Customer Name: Trevor Hernandez, Category: Electronics, Cumulative Purchase: 183.9
Customer ID: 8, Customer Name: Jessica Richards, Category: Clothing, Cumulative Purchase: 367.79
Customer ID: 8, Customer Name: Jessica Richards, Category: Electronics, Cumulative Purchase: 447.26
Customer ID: 8, Customer Name: Jessica Richards, Category: Groceries, Cumulative Purchase: 290.7
Customer ID: 9, Customer Name: Nicole Harper, Category: Electronics, Cumulative Purchase: 70.11
Customer ID: 9, Customer Name: Nicole Harper, Category: Groceries, Cumulative Purchase: 217.11
Customer ID: 12, Customer Name: Shelby Johnson, Category: Electronics, Cumulative Purchase: 36.86
Customer ID: 13, Customer Name: Thomas Foster, Category: Electronics, Cumulative Purchase: 420.15
Customer ID: 13, Customer Name: Thomas Foster, Category: Groceries, Cumulative Purchase: 61.59
Customer ID: 14, Customer Name: Christina Walker, Category: Groceries, Cumulative Purchase: 71.34
Customer ID: 15, Customer Name: Kenneth Miller, Category: Electronics, Cumulative Purchase: 134.88
Customer ID: 17, Customer Name: Brandon Holland, Category: Clothing, Cumulative Purchase: 527.6
Customer ID: 17, Customer Name: Brandon Holland, Category: Groceries, Cumulative Purchase: 139.48

Retrieve the list of top 5 selling products. Further bifurcate the sales by product variants

In [ ]:
query = '''
SELECT
    p.ProductID,
    p.Name,
    p.Category,
    SUM(oi.Quantity) AS TotalQuantitySold
FROM
    OrderItem oi
JOIN
    Variants v ON oi.VariantID = v.VariantID
JOIN
    Product p ON v.ProductID = p.ProductID
GROUP BY
    p.ProductID, p.Name, p.Category
ORDER BY
    TotalQuantitySold DESC
LIMIT 5;
'''

cursor.execute(query)

results = cursor.fetchall()

results

[(8, 'Jacket', 'Clothing', 16),
 (11, 'Olive Oil', 'Groceries', 11),
 (2, 'T-shirt', 'Clothing', 8),
 (9, 'Sweater', 'Clothing', 8),
 (12, 'Monitor', 'Electronics', 7)]